RewriteEngine On

# Disallow indexes and multiviews
Options -Indexes
Options -Multiviews

# Allow loading of files and directories
RewriteCond %{REQUEST_FILENAME} !-f
# rewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^ public/index.php [QSA,L]
