@font-face {
    font-family: Quantico-Regular;
    src: url("../../fonts/Quantico-Regular.ttf");
}

.ico {
    background: linear-gradient(to right, #ff8025, #222943);
    background-clip: text;
    font-family: "Quantico-Regular";
    font-size: 2rem;
    margin: 0 1em;
    transition: 0.7s;
    -webkit-text-fill-color: transparent;
}
