@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import url("mods/font.scss");

body {
    background-image: url("../images/BG.jpg");
    background-repeat: no-repeat;
    background-size: 50em;
    background-position: 50% 10%;
}
