@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import url('mods/font.scss');

body {
  background-image: url('../images/BG.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
