{% extends "landing/layout/layout.twig" %}

{% block content %}

	<div class="d-flex justify-content-center logo-space mt-5">
		<p class="m-5 logo">Prophetic</p>
	</div>
	<div class="d-flex justify-content-center mx-5 h1">
		404 | Not Found
	</div>

{% endblock %}
