{% extends "landing/layout/layout.twig" %}

{% block title %}
	Prophetic | 404
{% endblock %}

{% block content %}

	<div class="d-flex justify-content-center fixed-bottom h1 mb-5">

		{{ error.code }} | {{ error.message | upper }}

	</div>

{% endblock %}

