{% extends "landing/layout/layout.twig" %}

{% block title %}
	Prophetic | Home
{% endblock %}

{% block content %}

	<div class="d-flex justify-content-center fixed-bottom mb-5">

		<a href="https://www.github.com/pspepp3r/prophetic.git">
			<i class="bi bi-github ico"></i>
		</a>

	</div>

{% endblock %}
