{{ include('landing/layout/header.twig') }}

<body>
	<div class="d-flex text-center justify-content-center align-items-center logo-space mt-5">
		{# <p class="m-5 logo">Blossom</p> #}
		<p class="m-5 logo">Prophetic</p>
	</div>
</body>

{{ include('landing/layout/footer.twig') }}
